* {
    margin: 0 auto;
}

form {
    width: 50%;
}

.box {
    padding-top: 50px;
    position: relative;
}

.thongbao {
    color: red;
    font-size: medium;
    padding-left: 102px;
}

#tbIP, #tbURL {
    position: absolute;
    top: 30px;
}

label {
    float: left;
    width: 15%;
    font-weight: bold;
}

form, input, button[type="button"], input {
    font-size: 30px;
}

::placeholder {
    font-size: 25px;
}

button[type="button"] {
    background-color: #c00;
    color: #fff;
    border: 1px solid #c00;
    border-radius: 4px;
}

button[type="button"]:hover {
    background-color: #666;
    cursor: pointer;
    border: 1px solid #666;
}