form {
    width: 70%;
    margin: 0 auto;
}

label:not(#lblMale, #lblFemale) {
    padding-left: 10%;
    padding-right: 10px;
    float: left;
    width: 20%;
    text-align: right;
}

label, input {
    font-size: 20px;
}

input:not(input[type="date"], input[type="radio"]) {
    width: 50%;
}

.box {
    position: relative;
}

.thongbao {
    position: absolute;
    color: red;
    margin-left: 290px;
}

h1, h3 {
    text-align: center;
}

span {
    color: red;
}

.box-input {
    position: relative;
    padding-top: 20px;
}

hr {
    opacity: 0.25;
}

button {
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    margin: 0 15px;
}

.box:last-child {
    display: table;
    margin: 0 auto;
}