body{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    width: 100%;
    position: fixed;    
    bottom: 0;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}
li a:hover:not(.active){
    background-color: #111;
}
li a.active{
    background-color: #04AA6D;
}