* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 698px;
    border: 1px solid black;
    background-color: #F7CAAC;
    text-align: center;
}

header, section, footer {
    width: 100%;
}

header, section {
    border-bottom: 1px solid black;
}

header, footer {
    height: 100px;
}

section {
    height: 500px;
}