* {
    margin: 0 auto;
    padding: 0;
}
/* .container{
    margin: 0 auto;
    display:  block;
    border: 1px solid red;
} */
.gallery {
    float: left;
    border: 1px solid #555;
    width: 23.9%;
    margin: 10px 0 10px 10px;
}

.gallery:last-child {
    margin-right: 10px;
}

.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery img:hover {
    transform: scale(2);
}

.desc {
    text-align: center;
    margin: 10px 0;
}