*{
    margin: 0 auto;
    padding: 0;
}

body{
    min-height: 100px;
    background-color: #FFA17F;
    background: linear-gradient(to right, #00223E, #FFA17F);
}

#time, #date, #ddmmyy{
    text-align: center;
}
#date{
    margin-top: 150px;
    font-size: 50px;
}
#ddmmyy{
    font-size: 50px;
}
#time{
    font-size: 100px;
    border: 10px dotted black;
    width: 30%;
    color: black;
}