*{
    margin: 0 auto;
    padding: 0;
}
h1{
    text-align: center;
}
body{
    width: 100%;
}
div{
    float: left;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
    width: 13%;
}
p{
    font-size: 30px;
}